# Set Methods (Basic)

Question: Add 'orange' to the set.

In [1]:
fruits = {'apple', 'banana', 'cherry'}
fruits.add('orange')
print(fruits)

{'cherry', 'banana', 'orange', 'apple'}

Question: Remove 'cherry' from the set.

In [2]:
fruits = {'apple', 'banana', 'cherry'}
fruits.remove('cherry')
print(fruits)

{'banana', 'apple'}

Question: Create a copy of the set.

In [3]:
fruits = {'apple', 'banana', 'cherry'}
fruits_copy = fruits.copy()
print(fruits_copy)

{'cherry', 'banana', 'apple'}

Question: Clear all elements from the set.

In [4]:
fruits = {'apple', 'banana', 'cherry'}
fruits.clear()
print(fruits)

set()

Question: Create a new set with elements 'banana', 'cherry', and 'date'. Find the union of the two sets.

In [5]:
new_fruits = {'banana', 'cherry', 'date'}

# Finding the union of the two sets
union_result = fruits_copy.union(new_fruits)
print(union_result)

{'date', 'apple', 'cherry', 'banana'}

Question: Question: Create a new set with elements 'banana' and 'cherry'. Find the intersection of the two sets.

In [6]:
new_fruits = {'banana', 'cherry'}
# Finding the intersection of the two sets
intersection_result = fruits_copy.intersection(new_fruits)
print(intersection_result)

{'cherry', 'banana'}

Question: Create a new set with elements 'date' and 'elderberry'. Find the symmetric difference of the two sets.

In [7]:
new_fruits = {'date', 'elderberry'}
# Finding the symmetric difference of the two sets
symmetric_difference_result = fruits_copy.symmetric_difference(new_fruits)
print(symmetric_difference_result)

{'date', 'cherry', 'banana', 'elderberry', 'apple'}

Question: Create a new set with elements 'banana' and 'cherry'. Update the original set with the elements from the new set.

In [8]:
new_fruits = {'banana', 'cherry'}

fruits_copy.update(new_fruits)
print(fruits_copy)

{'apple', 'cherry', 'banana'}

Question: Check if the original set is a subset of the new set.

In [9]:
new_fruits = {'apple', 'banana', 'cherry', 'date', 'elderberry'}

# Checking if the original set is a subset
is_subset = fruits_copy.issubset(new_fruits)
print(is_subset)

True

Question: Check if the original set is disjoint from the new set.

In [11]:
new_fruits = {'date', 'elderberry'}
# Checking if the sets are disjoint
is_disjoint = fruits_copy.isdisjoint(new_fruits)
print(is_disjoint)

True

Question: Create a new set with elements 'cherry' and 'date'. Find the difference between the original set and the new set.

In [12]:
new_fruits = {'cherry', 'date'}
# Finding the difference between the sets
difference_result = fruits_copy.difference(new_fruits)
print(difference_result)

{'banana', 'apple'}

Question: Create a new set with elements 'banana' and 'cherry'. Update the original set with the elements from the new set.

In [13]:
new_fruits = {'banana', 'cherry'}
# Updating the original set with the difference
fruits_copy.difference_update(new_fruits)
print(fruits_copy)

{'apple'}

Question: Question: Create a new set with elements 'cherry' and 'date'. Find the symmetric difference between the original set and the new set.

In [14]:
new_fruits = {'cherry', 'date'}
# Finding the symmetric difference between the sets
fruits_copy.symmetric_difference_update(new_fruits)
print(fruits_copy)

{'cherry', 'date', 'apple'}

Question: Remove an element from the set using the discard method.

In [16]:
fruits_copy = {'cherry', 'date'}
# Removing an element using discard
fruits_copy.discard('apple')
print(fruits_copy)

{'cherry', 'date'}

Question: Remove an element from the set using the pop method.:

In [17]:
fruits_copy = {'cherry', 'date'}
# Removing an element using pop
popped_element = fruits_copy.pop()
print(popped_element)

cherry

Question: Create two sets, set1 and set2, with elements 'apple', 'banana', 'cherry' in set1 and 'banana', 'date', 'elderberry' in set2. Find the elements that are in set1 but not in set2.

In [18]:
# Creating sets
set1 = {'apple', 'banana', 'cherry'}
set2 = {'banana', 'date', 'elderberry'}

# Finding elements in set1 but not in set2
result = set1.difference(set2)
print(result)

{'cherry', 'apple'}

Question: Create a set fruits with elements 'apple', 'banana', and 'cherry'. Find the intersection of fruits and set2.

In [19]:
# Creating a set
fruits = {'apple', 'banana', 'cherry'}

# Finding the intersection with set2
intersection_result = fruits.intersection(set2)
print(intersection_result)

{'banana'}

Question: Create a set fruits with elements 'apple', 'banana', and 'cherry'. Remove 'banana' from fruits using the discard method.

In [20]:
# Creating a set
fruits = {'apple', 'banana', 'cherry'}

# Removing 'banana' using discard
fruits.discard('banana')
print(fruits)

{'cherry', 'apple'}

Question: Create a set fruits with elements 'apple', 'banana', and 'cherry'. Check if it is disjoint from set2.

In [21]:
# Creating a set
fruits = {'apple', 'banana', 'cherry'}

# Checking if it is disjoint from set2
is_disjoint = fruits.isdisjoint(set2)
print(is_disjoint)

False

Question: Create two sets, set1 and set2, with elements 'apple', 'banana', 'cherry' in set1 and 'banana', 'date', 'elderberry' in set2. Find the symmetric difference between set1 and set2, and store the result in result_set.

In [22]:
# Creating sets
set1 = {'apple', 'banana', 'cherry'}
set2 = {'banana', 'date', 'elderberry'}

# Finding the symmetric difference
result_set = set1.symmetric_difference(set2)
print(result_set)

{'date', 'cherry', 'elderberry', 'apple'}

Question: Create a set set1 with elements 'apple', 'banana', and 'cherry'. Create another set set2 with elements 'banana', 'date', and 'elderberry'. Find the union of set1 and set2.

In [23]:
# Creating sets
set1 = {'apple', 'banana', 'cherry'}
set2 = {'banana', 'date', 'elderberry'}

# Finding the union of set1 and set2
union_result = set1.union(set2)
print(union_result)

{'elderberry', 'date', 'apple', 'cherry', 'banana'}

Question: Create a set fruits with elements 'apple', 'banana', and 'cherry'. Create another set berries with elements 'strawberry', 'blueberry', and 'cherry'. Find the intersection of fruits and berries.

In [24]:
# Creating sets
fruits = {'apple', 'banana', 'cherry'}
berries = {'strawberry', 'blueberry', 'cherry'}

# Finding the intersection of fruits and berries
intersection_result = fruits.intersection(berries)
print(intersection_result)

{'cherry'}

Question: Create a set set1 with elements 'apple', 'banana', and 'cherry'. Create another set set2 with elements 'banana', 'date', and 'elderberry'. Update set1 with elements from set2 that are not in set1.

In [25]:
# Creating sets
set1 = {'apple', 'banana', 'cherry'}
set2 = {'banana', 'date', 'elderberry'}

# Updating set1 with elements not in set1 from set2
set1.update(set2.difference(set1))
print(set1)

{'elderberry', 'date', 'apple', 'cherry', 'banana'}

Question: Create a set fruits with elements 'apple', 'banana', and 'cherry'. Check if it is a subset of set2.

In [27]:
# Creating a set
fruits = {'apple', 'banana', 'cherry'}

# Checking if it is a subset of set2
is_subset = fruits.issubset(set2)
print(is_subset)

False

Question: Create two sets set1 and set2 with elements 'apple', 'banana', and 'cherry'. Find the intersection of set1 and set2 using a method, and then update set1 with the result.

In [28]:
# Creating sets
set1 = {'apple', 'banana', 'cherry'}
set2 = {'banana', 'date', 'elderberry'}

# Finding the intersection of set1 and set2 and updating set1
set1.intersection_update(set2)
print(set1)

{'banana'}

Question: Create two sets set1 and set2 with elements 'apple', 'banana', and 'cherry'. Check if set1 is a superset of set2 using a method.

In [29]:
# Creating sets
set1 = {'apple', 'banana', 'cherry'}
set2 = {'banana', 'cherry'}

# Checking if set1 is a superset of set2
is_superset = set1.issuperset(set2)
print(is_superset)

True

Question: Create two sets set1 and set2 with elements 'apple', 'banana', 'cherry', and 'date'. Using a method, find the elements that are unique to each set (i.e., not common between them) and store them in separate sets unique_set1 and unique_set2.

In [30]:
# Creating sets
set1 = {'apple', 'banana', 'cherry'}
set2 = {'banana', 'date'}

# Finding unique elements in each set
unique_set1 = set1.difference(set2)
unique_set2 = set2.difference(set1)
print(unique_set1)
print(unique_set2)

{'cherry', 'apple'}
{'date'}

Question: Create two sets set1 and set2 with elements 'apple', 'banana', 'cherry', and 'date'. Using a method, update set1 to contain all elements from both set1 and set2, but without any duplicates.

In [31]:
# Creating sets
set1 = {'apple', 'banana', 'cherry'}
set2 = {'banana', 'date'}

# Updating set1 with elements from set2, removing duplicates
set1.update(set2)
print(set1)

{'date', 'apple', 'cherry', 'banana'}

Question: Create three sets, set1, set2, and set3, with elements 'apple', 'banana', 'cherry', 'date', and 'elderberry'. Using a method, find the union of set1 and set2, and then find the intersection of the result with set3.

In [32]:
# Creating sets
set1 = {'apple', 'banana', 'cherry'}
set2 = {'banana', 'date'}
set3 = {'cherry', 'elderberry'}

# Finding union of set1 and set2, then intersecting with set3
result = (set1.union(set2)).intersection(set3)
print(result)

{'cherry'}